
@font-face {
    font-family: "press-start-2pregular";
    src: url("pressstart2p-regular-webfont.woff2") format("woff2"),
         url("pressstart2p-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "press-start-2pregular", cursive;
  background-color: forestgreen;
  color: #FCC327;
}

h1, h2, p {
  font-family: "press-start-2pregular", cursive;
}