
@font-face {
    font-family: "press-start-2pregular";
    src: url("pressstart2p-regular-webfont.woff2") format("woff2"),
         url("pressstart2p-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
  cursor: crosshair;
}

body {
  font-family: "press-start-2pregular";
  background-color: #FAFAFA;
  color: #222222;
  background-image: url("../images/jungle-background.jpg");
  background-size: cover;
  background-color: forestgreen;
}

.score {
  color: #FCC327;
  position: absolute;
  top: 2%;
  left: 25%;
}

.time {
  color: #FCC327;
  position: absolute;
  top: 2%;
  right: 25%;
}

.random-image {
  position: absolute;
  max-width: 200px;
  max-height: 100px;
  overflow: hidden;
}




