
@font-face {
    font-family: "press-start-2pregular";
    src: url("pressstart2p-regular-webfont.woff2") format("woff2"),
         url("pressstart2p-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: "press-start-2pregular";
  background-color: #FAFAFA;
  color: #222222;
}

header {
  text-align: center;
}

.game-col {
  position: relative;
}

.img-background {
  position: absolute;
  max-height: 600px;
  width: 100%;
  z-index: -1;
}

.img-foreground {
  position: absolute;
  max-height: 600px;
  width: 100%;
  z-index: 5;
}

.score {
  color: #FCC327;
  position: absolute;
  top: 5%;
  left: 25%;
}

.time {
  color: #FCC327;
  position: absolute;
  top: 5%;
  right: 25%;
}
